<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rover to mars
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rover to mars</ion-title>
    </ion-toolbar>
  </ion-header>

  <input id="width" name="width" [(ngModel)]="width" type="number" min="0" max="999" value="100">
  <input id="heigth" name="height" [(ngModel)]="height" type="number" min="0" max="999" value="100">



  <p>Width: {{width}} Height: {{height}}</p>
  <div id="square" [style.width]='getWidth()' [style.height]='getHeight()'>

    <!-- Aqui irá el componente Rover -->
    <app-rover  class="rover" [orientacion]="orientacion" [style.left]="getLeft()" [style.bottom]="getBottom()"></app-rover>


  </div>


</ion-content>
